<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Multi-person Chat Room using Netty and Spring Boot</title>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}">
    <link th:rel="stylesheet" th:href="@{/css/chat.css}">
</head>
<body>
    <div class="center">
        <a th:href="@{/chat}" class="btn btn-lg btn-primary">오픈 대화방</a>
    </div>
</body>
</html>